:root {
  --primaryColor: #721c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::placeholder {
  color: black;
}

body {
  background-color: #D7CEC7;
  width: 100% !important;
  overflow-x: hidden;
}