.headerUserIcons {
    width: 50px;
    height: 50Px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--primaryColor);
    cursor: pointer;
}

.userIcons {
    font-size: 28px;
}

@media (max-width:768px) {
    .headerUserIcons {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:900px) {
    .headerUserIcons {
        width: 45px;
        height: 45px;
    }

    .userIcons {
        font-size: 24px;
    }
}