.berWrP {
    margin-left: 10px;
    display: none;
}

.icons {
    font-size: 30px;
    color: var(--primaryColor);
    cursor: pointer;
}



@media (max-width:900px) {
    .berWrP {
        display: block;
    }
}